body {
    font-family: Verdana;
    background-color: black;
    font-weight: normal;
    text-align: center;
    display: block;

    
}

h1 {
    font-size: 50px;
    color: white;
}

h2 {
    font-size: 42px;
    color: white;
}

p {
    font-size: 21px;
    color: grey;
}

a {
    font-size: 16px;
    color: aquamarine;
    
}

.container {
    width: 100%;
    text-align: center;
}

video {
    object-fit: contain;
    display: block;
    height: 420px;
    width: auto;
}

img {
    display: block;
    margin: 0 auto;
    padding-top: 20px;

}

footer p {
    text-align: right;
}
